doctype html
html
	head
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.10/css/all.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")

		link(rel="stylesheet", href="assets/css/app.css")

		meta(name="viewport", content="width=device-width, initial-scale=1.0")

	body
		// LEFT  SIDE: Chatters List + Loading
		#left
			#list
				h5 Moderators
				#moderators
					ul#moderatorsList
						li LOADING...

				h5 Viewers
				#viewers
					ul#viewersList
						li LOADING...

			#informations

				#followers
					.icon
						i.fas.fa-heart
					p#followersCount LOADING...

				#viewers
					.icon
						i.fas.fa-user
					p#viewersCount LOADING...
			
		// RIGHT SIDE: Chat + Input
		#right
			#messages
				//
					// SUBSCRIBER ALERT EXAMPLE
					.alert.Subscriber
						.icon
							i.fas.fa-star
						p
							span.username Gawh01 
							| is now 
							span.type subscribed 
							| to the channel!

					// FOLLOWER ALERT EXAMPLE
					.alert.Follower
						.icon
							i.fas.fa-heart
						p
							span.username Sacetter 
							| is now 
							span.type following
							| the channel!

					// HOST ALERT EXAMPLE
					.alert.Host
						.icon
							i.fas.fa-play
						p
							span.username iKlem 
							| is now 
							span.type hosting 
							| the channel!


					// STREAMER MESSAGE EXAMPLE
					.message.Streamer.Ancient
						.header
							.icon
								i.fas.fa-check
							span.username TrashMates
							span.date 15:51:32
						.content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, maxime animi non quidem expedita consequuntur alias sapiente blanditiis facere totam. Aliquam, nemo. Aut, dolore. Velit ea quas eos reprehenderit maiores.

					// SUBSCRIBER MESSAGE EXAMPLE
					.message.Subscriber.Old
						.header
							.icon
								i.fas.fa-star
							span.username Gawh01
							span.date 15:51:34
						.content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde deleniti vero, tenetur mollitia corporis illum delectus quam autem minus alias deserunt ullam placeat repudiandae eius quae, officia rerum nam quo.

					// FOLLOWER MESSAGE EXAMPLE
					.message.Follower
						.header
							.icon
								i.fas.fa-heart
							span.username iKlem
							span.date 15:51:35
						.content
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolore, iure ad, voluptas, sequi quos nulla in blanditiis veniam praesentium facere. Placeat reprehenderit adipisci optio assumenda laudantium voluptatem aliquid eum?

					// VIEWER MESSAGE EXAMPLE
					.message
						.header
							span.username xXProSniper03Xx
							span.date 15:51:40
						.content
							p lol
				
			form(action="#")
				input#input(placeholder="Send a message")
				button#submit(onclick="return Event.onSendMessage()") >


		script.
			window.$ = window.jQuery = require('./assets/js/lib/jquery-3.3.1.min.js');
		script(src="https://unpkg.com/twitch-js@1.2.5/dist/twitch-js.min.js")
		script(src="assets/js/app.js")
